/* body {
    background-color: #FFE4B5 !important;
    font-weight: bold !important;
    font-family: 'arial black';
    /* font-family: 'Helvetica Neue','Helvetica','Arial',cursive; */
    /* font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',cursive; */
    /* color: black; */
/* } */

/* .bg-dark {
    background-color: #66CDAA !important;
}   */

/* .alert {
    padding: 30px !important;
    font-weight: bolder !important;
    font-size: 25px !important;
    border-radius: 15px !important;
} */

.jumbotron {
    background-color: rgb(red, green, blue) !important;
    border-radius: 50px;
    box-shadow: -5px 6px gray inset;
}

.jumbotron:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}

.username {
    font-size: 60px;
}

.event-start-date {
    font-size: 60px;
}

.event-tag {
    background-color: #DDDDDD;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.user-image, .post-image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.container-fluid {
    padding-top: 60px !important; 
}

.nav-link {
    color: black; 
}

.active {
    color: blue !important; 
}

.user-image{
    /* border-radius: 50%; */
    width: 100px;
    height: 100px;
}

.jumbotron--extend {
    padding: 20px;
    border-radius: 0px;
}


.blue-line {
    background: linear-gradient(transparent 50%, #a8eaff 50%);
}

.navbar-expand-lg {
    padding: 15px!important;
}   

.navbar {
    margin-bottom: 50px;
}

.container-fluid {
    position: absolute!important;
    top: 30px;
}

span.required {
    font-size: 20px;
    color: red;
}

.btn-signin {
    margin-top: 20px;
    border-radius: 0px;
    padding: 10px;
    /* border-radius: 5px;  */
}

.btn-signin:hover{
    background-color: #fff;
    border-color: #59b1eb;
    color: #59b1eb;
}

.alert {
    padding: 30px;
    font-size: 18px;
    font-weight: bold;
}
